@import "shared.css";

* {
    -clr-background: black;
    -clr-primary: #360A41;
    -clr-primary-dark: #360A41;
    -clr-text: white;
    -clr-text-dark-background: white;
    -clr-header-text: white;
    -clr-text-box-background: #151515;
    -clr-text-box-border: transparent;
}
