.backgroundTitlePanel {
    -fx-background-color: -clr-primary;
}

.buttonEntry {
    -fx-background-color: -clr-primary-dark;
    -fx-font-weight: bold;
    -fx-font-size: 27px;
    -fx-text-fill: -clr-text-dark-background;
}

.backButton {
    -fx-background-color: transparent;
}

.backButtonSVG {
    -fx-fill: -clr-text-dark-background;
    -fx-stroke: -clr-text-dark-background;
}

.mode-button {
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-shape:"M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S14.76,7,12,7L12,7z M2,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0 c-0.55,0-1,0.45-1,1S1.45,13,2,13z M20,13l2,0c0.55,0,1-0.45,1-1s-0.45-1-1-1l-2,0c-0.55,0-1,0.45-1,1S19.45,13,20,13z M11,2v2 c0,0.55,0.45,1,1,1s1-0.45,1-1V2c0-0.55-0.45-1-1-1S11,1.45,11,2z M11,20v2c0,0.55,0.45,1,1,1s1-0.45,1-1v-2c0-0.55-0.45-1-1-1 C11.45,19,11,19.45,11,20z M5.99,4.58c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41l1.06,1.06 c0.39,0.39,1.03,0.39,1.41,0s0.39-1.03,0-1.41L5.99,4.58z M18.36,16.95c-0.39-0.39-1.03-0.39-1.41,0c-0.39,0.39-0.39,1.03,0,1.41 l1.06,1.06c0.39,0.39,1.03,0.39,1.41,0c0.39-0.39,0.39-1.03,0-1.41L18.36,16.95z M19.42,5.99c0.39-0.39,0.39-1.03,0-1.41 c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L19.42,5.99z M7.05,18.36 c0.39-0.39,0.39-1.03,0-1.41c-0.39-0.39-1.03-0.39-1.41,0l-1.06,1.06c-0.39,0.39-0.39,1.03,0,1.41s1.03,0.39,1.41,0L7.05,18.36z"
}

.applicationName {
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-fill: -clr-header-text;
}

.formTitle {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-fill: -clr-text;
}

.background {
    -fx-background-color: -clr-background;
}

.buttons {
    -fx-background-color: -clr-primary;
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-text-fill: -clr-text;
}

.inputBox {
    -fx-background-color: -clr-text-box-background;
    -fx-border-color: -clr-text-box-border;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-font-size: 17;
    -fx-text-fill: -clr-text;
}

.date-picker > .text-field,
.date-picker:focused > .text-field{
    -fx-background-color: -clr-text-box-background;
    -fx-font-size: 17;
    -fx-text-fill: -clr-text;
}

.date-picker > .arrow-button {
    -fx-background-color: -clr-primary;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: -clr-text;
}

.date-picker-popup {
    -fx-background-color: -clr-background
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -clr-background
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: -clr-background
}

.date-picker-popup > * > .day-name-cell {
    -fx-text-fill: -clr-text;
}

.date-picker-popup > * > .spinner > .label {
    -fx-text-fill: -clr-text;
}

.date-picker-popup > * > .spinner > .button > .right-arrow,
.date-picker-popup > * > .spinner > .button > .left-arrow {
    -fx-background-color: -clr-text;
}

.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > * > .spinner > .button:selected,
.date-picker-popup > * > .spinner > .button:focused,
.date-picker-popup > * > .spinner > .button:armed {
    -fx-background-color: transparent;
}

.date-picker-popup > * > .day-cell {
    -fx-background-color: -clr-text-box-background;
    -fx-border-color: -clr-text-box-border;
    -fx-text-fill: -clr-text;
}

.scheduleCheckbox {
    -fx-text-fill: -clr-text;
}

.scheduleCheckbox > .box {
    -fx-background-color: -clr-text-box-background;
}

.scheduleCheckbox:selected > .box > .mark {
    -fx-background-color: -clr-primary;
}