#lecturerQuestion {
    -fx-background-color: #151515;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#QuestionUpvoteCount {
    -fx-fill: white;
}

.upvoteText {
    -fx-fill: white;
}

.upvoteArea {
    -fx-border-color: #C8C8C8;
    -fx-border-width: 0 1 0 0;
}

.upvoteBtnSVG {
    -fx-fill: #C8C8C8;
    -fx-stroke: #C8C8C8;
}

.questionAsks {
    -fx-font-style: italic;
    -fx-font-size: 16px;
    -fx-fill: #AAAAAA;
}

.questionText {
    -fx-font-size: 19px;
    -fx-fill: white;
}

#QuestionReplyBtn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-fill: white;
}

#QuestionReplyBtn:active {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-fill: purple;
}

#MenuButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-fill: white;
}

#MenuButton:active {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-fill: purple;
}

.menuItem {
    -fx-background-color: #B0B0B0;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.context-menu {
    -fx-background-color: transparent;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}