#userInfoContainer {
    -fx-background-color: #151515;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.2, 0, 0);
}

#BanButton {
    -fx-background-color: transparent;
}

#BanIcon {
    -fx-fill: #e75353;
}

#StarIcon {
    -fx-scale-shape: 15px;
    -fx-fill: #d276ec;
}

.UserInfoText {
    -fx-fill: white;
    -fx-font-size: 17px;
}