#userInfoContainer {
    -fx-background-color: #D8D8D8;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.2, 0, 0);
}

#StarIcon {
    -fx-scale-shape: 15px;
    -fx-fill: #8D1BAA;
}

.UserInfoText {
    -fx-font-size: 17px;
}