.help-button {
  -fill: #15041A;
  -fx-shape: "M36.7994 13C28.9767 13 23.9098 16.1937 19.9319 21.8893C19.2102 22.9225 19.4327 24.3391 20.4393 25.0996L24.6671 28.2938C25.6838 29.0619 27.1302 28.8823 27.9261 27.8888C30.3811 24.8242 32.2021 23.0598 36.0368 23.0598C39.0519 23.0598 42.7812 24.9933 42.7812 27.9065C42.7812 30.1089 40.9567 31.2399 37.9796 32.903C34.5079 34.8425 29.9138 37.2562 29.9138 43.2941V44.25C29.9138 45.5444 30.9669 46.5938 32.266 46.5938H39.3686C40.6676 46.5938 41.7207 45.5444 41.7207 44.25V43.6862C41.7207 39.5007 53.9978 39.3264 53.9978 28C53.9979 19.4703 45.1183 13 36.7994 13ZM35.8173 49.4706C32.0739 49.4706 29.0283 52.5053 29.0283 56.2354C29.0283 59.9653 32.0739 63 35.8173 63C39.5608 63 42.6063 59.9653 42.6063 56.2353C42.6063 52.5052 39.5608 49.4706 35.8173 49.4706Z"
}

.help-button:selected {
  -fx-graphic: url('https://www.figma.com/file/R9RleWAfVsX4u11uETYV6U/Untitled?node-id=47%3A26');
}

.help-back{
    -fx-background-color: #FFFFFF;
}

