.backgroundTitlePanel {
    -fx-background-color: #8D1BAA;
}

.buttonEntry {
    -fx-background-color: #360A41;
    -fx-font-weight: bold;
    -fx-font-size: 27px;
    -fx-text-fill: white;
}

.buttonMode {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.buttonBack {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.applicationName {
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-fill: white;
}

.formTitle {
    -fx-font-size: 35;
    -fx-font-weight: bold;
}

.background {
    -fx-background-color: #FFFFFF;
}

.buttons {
    -fx-background-color: #8D1BAA;
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-text-fill: black;
}

.inputBox {
    -fx-font-size: 17;
    -fx-text-fill: black;
}

