root {
    display: block;
}

.button {
    -fx-background-color: #360A41;
}

.upvoteBtn {
    -fx-background-color: transparent;
}

.upvoteBtnSVG {
    -fx-fill: #360A41;
    -fx-stroke: #360A41;
}

.parent{
    -fx-background-color: transparent;
}
.course-panel{
    -fx-background-color: #360A41;
    -fx-pref-height: 75;
}

.side-panel{
    -fx-pref-width: 128;
    -fx-background-color: #15041A;
}




